{{!-- <h1>Test Template Engine</h1> --}}

<form action="/" method="POST" enctype="multipart/form-data">
  <h3>画像をアップロードする</h3>
  <input type="file" name="imageFile" accept="image/*"/>
  <input type="submit"/>
</form>